<h1 id={"story-id-#{@story.id}"} class="text-lg"><%= @story.title %></h1>

<div class="text-center mb-10">
  <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4"><%= @story.title %></h1>
  <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
    <.story_details story={@story} />
  </p>
</div>
    
<div class="mx-auto max-w-xl">
  <p class="mt-10">
    <%= raw @story.story_body %>
  </p>
</div>
