<.link class="float-right" href={~p"/stories"}>Back</.link>

<% id = "story-id-#{@story.id}" %>
<h1 :if={true} id={id} class="text-lg"><%= @story.title %></h1>

<.story_details story={@story} />

<p class="mt-10">
  <%= raw @story.story_body %>
</p>

